---
import { Card, CardContent } from "@/components/ui/card";
import { Badge } from "@/components/ui/badge";
import { PhGithubLogo, PhGlobeSimple } from "phosphor-icons-astro";

export interface Props {
  project: {
    id: string;
    title: string;
    subtitle?: string;
    description: string;
    technologies: string[];
    github?: string;
    demo?: string;
  };
}

const { project } = Astro.props;
---

<Card
  className="overflow-hidden border-2 border-neutral-800 bg-neutral-950 transition-all duration-200 hover:border-neutral-700"
>
  <CardContent className="space-y-4 p-8">
    <div class="flex items-center gap-3">
      <h1 class="text-2xl font-semibold text-neutral-200">
        {project.title} -
      </h1>
      {
        project.subtitle && (
          <span class="text-md font-medium text-neutral-300">
            {project.subtitle}
          </span>
        )
      }
    </div>
    <div class="flex flex-wrap gap-2">
      {
        project.technologies.map((tech: string) => (
          <Badge
            variant="secondary"
            className="flex items-center gap-2 rounded-md border-2 border-neutral-800 bg-neutral-950 p-2 text-neutral-400"
          >
            {tech}
          </Badge>
        ))
      }
    </div>
    <p class="text-md leading-relaxed text-neutral-400">
      {project.description}
    </p>
    <div class="flex w-full gap-2 pt-2">
      {
        project.github && (
          <a
            href={project.github}
            target="_blank"
            rel="noopener noreferrer"
            class="flex w-1/2 items-center justify-center rounded-md border-2 border-neutral-800 bg-gradient-to-b from-neutral-300 to-neutral-500 px-6 py-1 font-medium text-neutral-950 hover:border-neutral-700"
          >
            <PhGithubLogo class="mr-2 h-4 w-4" />
            View Source Code
          </a>
        )
      }
      {
        project.demo && (
          <a
            href={project.demo}
            target="_blank"
            rel="noopener noreferrer"
            class="flex w-1/2 items-center justify-center rounded-md border-2 border-neutral-800 bg-gradient-to-b from-neutral-300 to-neutral-500 px-6 py-1 font-medium text-neutral-950 hover:border-neutral-700"
          >
            <PhGlobeSimple class="mr-2 h-4 w-4" />
            View Demo Site
          </a>
        )
      }
    </div>
  </CardContent>
</Card>
